name: Build Android App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Unzip Project
        run: |
          unzip nim-plus.zip -d extracted_project

      - name: Build APK
        run: |
          # Go to the project folder
          cd extracted_project/*
          
          # Give permission to the build tool
          chmod +x gradlew
          
          # Build the Debug APK
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: NimPlus-App
          # Path to where Gradle saves the APK
          path: extracted_project/**/build/outputs/apk/debug/*.apk
