name: Build and Download

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Nim
        uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: 'stable'

      - name: Unzip Project
        run: |
          unzip nim-plus.zip -d extracted_project

      - name: Build Project
        run: |
          # Go to the extracted folder
          cd extracted_project/*
          ls -la
          
          # Compile directly. Fails if main.nim is missing.
          # Output name set to 'nim-plus-app'
          nim c -d:release -o:nim-plus-app main.nim

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: nim-plus-application
          path: extracted_project/**/nim-plus-app
